@import "tailwindcss";

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@font-face {
  font-family: 'Lilita One';
  src: url('../../public/fonts/LilitaOne-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------- HEADER --------------------------------------*/

header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #030c31;
  font-size: 20px;
  color: whitesmoke;
  font-family: 'Poppins', cursive;
}

.header {
  font-size: 55px;
  font-family: 'Lilita One', cursive;
}

/*------------------------------- MAIN SECTION --------------------------------------*/

#main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #f5c132, #ff7e5f, #0c40a0, #580581);
  background-size: 200% 100%;
  animation: gradientAnimation 10s ease infinite;
  border-bottom: black 2px solid;
  padding: 30px;
  text-align: center;
}

#main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main h1 {
  font-size: 100px;
  font-family: 'Lilita One', cursive;
  color: black;
}

#main h2 {
  font-size: 40px;
  font-family: 'Poppins', cursive;
  font-weight: bold;
  color: black;
}

@media (max-width: 768px) {
  #main h1 {
    font-size: 60px;
  }
  #main h2 {
    font-size: 30px;
  }
}

/*------------------------------- ABOUT --------------------------------------*/

#about {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 30px;
}

#about h1{
  font-size: 55px;
  font-family: 'Lilita One', cursive;
}

#paragraph {
  font-family: 'Poppins', cursive;
  width: 750px;
  text-align: justify;
  font-size: 20px;
}

#about ul {
  list-style: disc;
  padding-left: 20px;
}

/*------------------------------- ITINERARY --------------------------------------*/

#itinerary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#schedule {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 75px;
  flex-wrap: wrap;
}

.event p {
  font-family: 'Poppins', cursive;
  font-size: 20px;
  text-align: justify;
}

.title {
  width: 600px;
  display:flex;
  flex-direction: column;
  gap: 30px;
}

.panelists {
  width: 600px;
  display:flex;
  flex-direction: column;
  gap: 30px;
}

.panelists h1 {
  font-size: 32.5px;
  font-family: 'Lilita One', cursive;
}

.panelists h2 {
  font-size: 25px;
  font-family: 'Poppins', cursive;
  font-weight: bold;
}

.panelists p {
  font-family: 'Poppins', cursive;
  font-size: 17px;
  text-align: justify;
}

.panelist {
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.title h1 {
  font-size: 35px;
  font-family: 'Lilita One', cursive;
}

/*------------------------------- COLLABS --------------------------------------*/

#collabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 50px;
  text-align: center;
}

.indiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.companies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 500px;
  text-align: center;
}

.company h1 {
  font-size: 30px;
  font-family: 'Poppins', cursive;
  font-weight: bold;
}

.company h2 {
  font-size: 20px;
  font-family: 'Poppins', cursive;
}

/*------------------------------- ORGANIZERS --------------------------------------*/

#organizers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#aiclub, #faculty {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
}

#aiclub h1, #faculty h1 {
  font-family: 'Poppins', cursive;
  font-weight: bold;
  font-size: 35px;
}

#aiclub div, #faculty div {
  width: 400px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#organizers h2 {
  font-size: 25px;
  font-family: 'Poppins', cursive;
}

#faculty div {
  width: 500px;
}

.company img {
  height: 100px;
}

/*------------------------------- INSTA --------------------------------------*/

#insta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.instagram-feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.insta-posts {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram-media {
  width: 50vw;
}


/*------------------------------- FOOTER --------------------------------------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030c31;
  height: 10vh;
  color: whitesmoke;
  font-family: 'Poppins', cursive;
}