@import "tailwindcss";

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@font-face {
  font-family: 'Lilita One';
  src: url('../../public/fonts/LilitaOne-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------- HEADER --------------------------------------*/

header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #030c31;
  font-size: 20px;
  color: whitesmoke;
  font-family: 'Poppins', cursive;
}

/*------------------------------- MAIN SECTION --------------------------------------*/

#main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #f5c132, #ff7e5f, #0c40a0, #580581);
  background-size: 200% 100%;
  animation: gradientAnimation 10s ease infinite;
  border-bottom: black 2px solid;
  padding: 30px;
  text-align: center;
}

#main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main h1 {
  font-size: 100px;
  font-family: 'Lilita One', cursive;
  color: black;
}

#main h2 {
  font-size: 40px;
  font-family: 'Poppins', cursive;
  font-weight: bold;
  color: black;
}

/*------------------------------- ABOUT --------------------------------------*/

#about {

}

/*------------------------------- ITINERARY --------------------------------------*/

#itinerary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, rgb(64, 64, 146), rgb(209, 164, 202), rgb(204, 101, 101));
  color: whitesmoke;
  padding: 20px;
  height: 100vh;
}

/*------------------------------- COLLABS --------------------------------------*/

#collabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgb(26, 0, 44) , rgb(71, 0, 60), rgb(1, 1, 49));
  color: whitesmoke;
  padding: 20px;
  height: 100vh;
}

/*------------------------------- ORGANIZERS --------------------------------------*/

#organizers h1{
  font-size: 55px;
  font-family: 'Lilita One', cursive;
}

#organizers{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  color: black;
  padding: 30px;
  text-align: center;
}

#organizers section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 30px;
}

#aiclub h1, #faculty h1 {
  font-family: 'Poppins', cursive;
  font-weight: bold;
  font-size: 35px;
}

#organizers div {
  width: 350px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#organizers h2 {
  font-size: 25px;
  font-family: 'Poppins', cursive;
}

#faculty div {
  width: 500px;
}

/*------------------------------- FOOTER --------------------------------------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030c31;
  height: 10vh;
  color: whitesmoke;
  font-family: 'Poppins', cursive;
}